@model SelectList;
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Index</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
<link rel="stylesheet" href="~/Padhrusha.UI.styles.css" asp-appendversion="true" />
</head>
<body>
<main class="container mb-3">
    <h1> @ViewData["text"]</h1>
    <div>
        <h2>Список</h2>
        <ol type="A">
            @for (int i = 0; i < 5; i++)
            {
                <li>element @i List</li>
            }
        </ol>
    </div>
    <form method="post" role="form">
        <h2>Форма</h2>
            <div class="row justify-content-center mt-3 mb-3">
                <div class="col-sm-6">
                    <select class="form-select " asp-items="Model" name="selDemo"></select>
                </div>
            </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Чек-бокс 1
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Чек-бокс 2
                    </label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3 mb-3">
            <div class="col-6 d-flex justify-content-between">
                <div class="form-check col-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Радио-1
                    </label>
                </div>
                <div class="form-check col-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Радио-2
                    </label>
                </div>
                <div class="form-check col-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Радио-3
                    </label>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="login" class="col-sm-3 col-form-label">Логин</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="login">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="inputPassword">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</main>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
